/* Obecné styly */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#game-container {
    margin: 20px auto;
    width: 90%;
    max-width: 900px;
}

h1 {
    color: #333;
}

/* Tlačítka */
button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

#switch-team-button {
    background-color: blue;
    color: white;
}

/* Herní deska */
#board {
    display: grid;
    grid-template-rows: repeat(7, auto);
    gap: 0px;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
    gap: 2px;
}

.row:nth-child(n+2) {
    margin-top: -23px;
}

/* Hexagon */
.hex {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #555;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s;
}

.hex.team1 {
    background-color: blue;
    color: white;
}

.hex.team2 {
    background-color: red;
    color: white;
}

.hex.wrong {
    background-color: black;
    color: white;
}
